{% load static %}
<!-- Start Header Area -->
<style>
.btn{
    margin-bottom: -44px;
}    
</style>    
<!-- Start Top Header Area -->
<header class="eblog-header-area header--sticky">
    <div class="eblog-home-1-menu">
        <div class="eblog-site-main-logo-menu-social">
            <div class="container">
                <div class="row align-items-center plr_md--30 plr_sm--30 plr--10">
                    <div class="col-xl-2 col-lg-2 col-md-7 col-sm-7 col-7 p-0">
                      <div class="eblog-site-logo">
                        <a class="logo-light" href="{% url 'index' %}">
                            <img src="{% static 'img/logo/header-logo.png' %}" 
                                alt="eblog"
                                style="height: 90px;">
                        </a>
                    </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                        <nav>
                            <div class="eblog-home-1-menu">
                                <ul class="list-unstyled eblog-desktop-menu">
                                    <li class="menu-item eblog-has-dropdown">
                                        <a href="#" class="eblog-dropdown-main-element active">News</a>
                                        <ul class="eblog-submenu list-unstyled menu-pages">
                                            <li class="nav-item"><a href="#">Latest News</a></li>
                                            <li class="nav-item"><a href="#">Transfer News</a></li>
                                            <li class="nav-item"><a href="#">Match Reports</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item eblog-has-dropdown">
                                        <a href="#" class="eblog-dropdown-main-element">Fixtures & Results</a>
                                        <ul class="eblog-submenu list-unstyled menu-pages">
                                            <li class="nav-item"><a href="#">Today's Matches</a></li>
                                            <li class="nav-item"><a href="#">Upcoming Fixtures</a></li>
                                            <li class="nav-item"><a href="#">Past Results</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item eblog-has-dropdown">
                                        <a href="#" class="eblog-dropdown-main-element">Leagues</a>
                                        <ul class="eblog-submenu list-unstyled menu-pages">
                                            <li class="nav-item"><a href="#">🏴󠁧󠁢󠁥󠁮󠁧󠁿 Premier League</a></li>
                                            <li class="nav-item"><a href="#">🇪🇸 La Liga</a></li>
                                            <li class="nav-item"><a href="#">🇮🇹 Serie A</a></li>
                                            <li class="nav-item"><a href="#">🇩🇪 Bundesliga</a></li>
                                            <li class="nav-item"><a href="#">🇫🇷 Ligue 1</a></li>
                                            <li class="nav-item"><a href="#">🏆 Champions League</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item eblog-has-dropdown">
                                        <a href="#" class="eblog-dropdown-main-element">Teams</a>
                                        <ul class="eblog-submenu list-unstyled menu-pages">
                                            <li class="nav-item"><a href="#">Team List</a></li>
                                            <li class="nav-item"><a href="#">Team Profiles</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item eblog-has-dropdown">
                                        <a href="#" class="eblog-dropdown-main-element">Players</a>
                                        <ul class="eblog-submenu list-unstyled menu-pages">
                                            <li class="nav-item"><a href="#">Top Players</a></li>
                                            <li class="nav-item"><a href="#">Player Profiles</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item eblog-has-dropdown">
                                        <a href="#" class="eblog-dropdown-main-element">About</a>
                                        <ul class="eblog-submenu list-unstyled menu-pages">
                                            <li class="nav-item"><a href="#">About Us</a></li>
                                            <li class="nav-item"><a href="#">Contact</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-5 col-sm-5 col-5 p-0">
                        <div class="eblog-header-top-social-media">
                            <a href="#" id="search" class="eblog-header-top-search-btn search-icon action-item icon">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.1256 16.1458L13.4056 11.7888C14.5398 10.5319 15.1053 8.91973 14.9847 7.28771C14.864 5.65568 14.0663 4.12943 12.7576 3.02647C11.4488 1.9235 9.72983 1.32874 7.95814 1.3659C6.18645 1.40306 4.49849 2.06929 3.2454 3.226C1.9923 4.3827 1.27055 5.94082 1.23029 7.57622C1.19003 9.21162 1.83436 10.7984 3.02924 12.0064C4.22412 13.2145 5.87756 13.9508 7.64558 14.0622C9.41361 14.1736 11.1601 13.6516 12.5218 12.6046L17.2418 16.9616L18.1256 16.1458ZM2.50064 7.73083C2.50064 6.70389 2.83054 5.70001 3.44862 4.84614C4.0667 3.99227 4.94521 3.32676 5.97304 2.93376C7.00088 2.54077 8.13188 2.43795 9.22302 2.63829C10.3142 2.83864 11.3164 3.33316 12.1031 4.05931C12.8898 4.78547 13.4255 5.71065 13.6426 6.71786C13.8596 7.72507 13.7482 8.76907 13.3225 9.71784C12.8967 10.6666 12.1757 11.4775 11.2507 12.0481C10.3257 12.6186 9.23816 12.9231 8.12564 12.9231C6.6343 12.9216 5.20452 12.3741 4.14999 11.4007C3.09545 10.4272 2.50229 9.10745 2.50064 7.73083Z" fill="#1E1E1E" />
                                </svg>
                            </a>
                            <form action="{% url 'stories' %}" method="get">
                            <div class="search-input-area">
                                <div class="container">
                                    <div class="search-input-inner">
                                        <div class="input-div">
                                            <input 
                                            name=q
                                            class="search-input"
                                            type="text"
                                            placeholder="Search by keyword or #" required
                                            >
                                        </div>
                                        <div  class="search-close-icon"><i class="fa-regular btn"></i>
                                         <button type="submit" class="search-icon-btn ">
                    🔍
                </button></div>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="eblog-header-top-menu-bar menu-btn">
                                <a href="javascript:void(0)">
                                    <div class="line small"></div>
                                    <div class="line big"></div>
                                    <div class="line small"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-- rts breadcrumba area start -->
    <div class="eblog-breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- bread crumb inner wrapper -->
                    <div class="breadcrumb-inner text-center">
                        <div class="meta">
                            <a href="{% url 'index'%}" class="prev">Home</a>
                            <img src="{% static 'img/icon/chevron-right.svg' %}" alt="">
                            <a href="{% url 'stories'%}" class="next">Stories</a>
                            <img src="{% static 'img/icon/chevron-right.svg' %}" alt="">     
                            <a href="{% url 'coming-soon'%}" class="last">Coming Soon</a>
                            <img src="{% static 'img/icon/chevron-right.svg' %}" alt="">
                            <a href="{% url 'error'%}" class="last">Errors</a>

                        </div>
                    </div>
                    <!-- bread crumb inner wrapper end -->
                </div>
            </div>
        </div>
    </div>
    <!-- rts breadcrumba area end -->
    </div>
    <!-- End Home-1 Menu & Site Logo & Social Media -->
</header>
<!-- End Top Header Area -->

<!-- side bar for desktop -->
<div id="side-bar" class="side-bar header-one">
    <div class="inner">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk d-none d-lg-block">
            <div class="thumbnail">
                <img src="{% static 'img/logo/logo-01-w.svg' %}" alt="eblog">
            </div>
            <div class="inner-content">
                <div class="newsletter-form">
                    <div class="form-inner">
                        <div class="content">
                            <h3 class="title mb--20">Get Newsletter</h3>
                        </div>
                        <form action="#">
                            <div class="input-div">
                                <input type="email" placeholder="Your email..." required>
                            </div>
                            <button type="submit" class="subscribe-btn">Subscribe Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile menu area start -->
    <div class="mobile-menu d-block d-lg-none">
        <nav class="nav-main mainmenu-nav mt--30">
            <ul class="mainmenu" id="mobile-menu-active">
                <li class="has-droupdown">
                    <a href="#" class="main">News</a>
                    <ul class="submenu">
                        <li><a class="mobile-menu-link" href="#">Latest News</a></li>
                        <li><a class="mobile-menu-link" href="#">Transfer News</a></li>
                        <li><a class="mobile-menu-link" href="#">Match Reports</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Fixtures & Results</a>
                    <ul class="submenu">
                        <li><a class="mobile-menu-link" href="#">Today's Matches</a></li>
                        <li><a class="mobile-menu-link" href="#">Upcoming Fixtures</a></li>
                        <li><a class="mobile-menu-link" href="#">Past Results</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Leagues</a>
                    <ul class="submenu">
                        <li><a class="mobile-menu-link" href="#">🏴󠁧󠁢󠁥󠁮󠁧󠁿 Premier League</a></li>
                        <li><a class="mobile-menu-link" href="#">🇪🇸 La Liga</a></li>
                        <li><a class="mobile-menu-link" href="#">🇮🇹 Serie A</a></li>
                        <li><a class="mobile-menu-link" href="#">🇩🇪 Bundesliga</a></li>
                        <li><a class="mobile-menu-link" href="#">🇫🇷 Ligue 1</a></li>
                        <li><a class="mobile-menu-link" href="#">🏆 Champions League</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Teams</a>
                    <ul class="submenu">
                        <li><a class="mobile-menu-link" href="#">Team List</a></li>
                        <li><a class="mobile-menu-link" href="#">Team Profiles</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Players</a>
                    <ul class="submenu">
                        <li><a class="mobile-menu-link" href="#">Top Players</a></li>
                        <li><a class="mobile-menu-link" href="#">Player Profiles</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">About</a>
                    <ul class="submenu">
                        <li><a class="mobile-menu-link" href="#">About Us</a></li>
                        <li><a class="mobile-menu-link" href="#">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- mobile menu area end -->
</div>
<!-- header style two End -->

<!-- Start Subscribe Popup Box -->
<div class="eblog-popup-model" id="id01">
    <div class="eblog-popup-transition">
        <div class="model-content animate-subscribe-popup">
            <a href="javascript:void(0)" onclick="document.getElementById('id01').style.display='none'"><i class="fa-regular fa-xmark"></i></a>
            <div class="eblog-p-flexing">
                <div class="form">
                    <div class="eblog-p-sub-heading">
                        <p>Weekly Updates</p>
                    </div>
                    <div class="eblog-p-sub-heading">
                        <h3>Let's join our newsletter!</h3>
                    </div>
                    <form method="POST">
                        <input type="email" required placeholder="Enter Your Email..">
                        <button type="submit">Submit</button>
                    </form>
                    <div class="eblog-bottom-popup">
                        <p>Do not worry we don't spam!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Subscribe Popup Box -->
<!-- End Header Area -->
<!-- Start Breadcrumb Area -->
  
    <!-- End Breadcrumb Area -->
