{% load static %}

{% for story in stories %}
<div class="col-xl-3 col-lg-4 col-md-6">
    <div class="story-card">
        <div class="image-box">
            {% if story.image %}
            <a href="{% url 'story:blog_detail' slug=story.slug %}">
                <img src="{{ story.image.url }}" alt="{{ story.title }}">
            {% else %}
                <img src="{% static 'img/default_story.jpg' %}">
            </a>
            {% endif %}
        </div>
        <div class="content">
            <div class="tags">
                <span class="bolt">Tags:</span>

                {% for tag in story.tags.all|slice:":3" %}
                    <span class="tag">{{ tag.name }}</span>
                {% empty %}
                    <span class="tag">Uncategorized</span>
                {% endfor %}
            </div>
          <h4>
            <a href="{% url 'story:blog_detail' slug=story.slug %}">
                {{ story.title|striptags|truncatewords:12 }}
            </a>
        </h4>
            <div class="meta">
                By
                {% if story.author.first_name %}
                    {{ story.author.first_name }} {{ story.author.last_name }}
                {% else %}
                    {{ story.author.username }}
                {% endif %}

                {% if story.published_at %}
                    - {{ story.published_at|date:"d M, Y" }}
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endfor %}
